body{
	min-width:1000px;
}
#submit_token{
	color:white;
	background-color:#6A7EB7;
	border-radius:50% 0 0 0;
}
#submit_token:hover{
	background-color:inherit;
	color:#25836C;
	border:2px solid #25836C;
}
#submit_token:active{
	transform: translatey(3px);
}
#reset_token:active{
	transform: translatey(3px);
}
.form_button{

	font-style:italic;
	font-size:14px;
	width:140px;
	height:30px;
	font-family:Sans-Serif;
	border-radius:10px;
	cursor:pointer;
}
#reset_token{
	color:white;
	background-color:#6A7EB7;
	border-radius: 0 50% 0 0;
}

#reset_token:hover{
	background-color:inherit;
	color:#25836C;
	border:2px solid #25836C;
}
#tokeninput{
	background-color:inherit;
border:none;
color:white;
	height: 40px;
	padding:10px;
}
#tokendiv{
	height: 40px;
	color:white;
	font-size:15px;
	border:2px solid white;
		border-radius:12px;
}
#token_send{
	position:absolute;
	top:5%;
	left:20%;
	padding-left:10px;

}
#accaunts>caption{
	color:white;
	font-family:arial
}
#accaunts{
	color:white;
	margin-left:35%;
	margin-top:17%;
	font-size:18px;
	font-family:Sans-Serif;
	border:3px solid white;
}
.accRemove{
	padding-left:20px;
	color:red;
	font-size:15px;
	font-style:italic;
	cursor:pointer;
}
.accRemove:hover{
	text-decoration: underline;
}
.accaunt>a{
	text-decoration:none;
	color:white;
}
.accaunt>a:hover{
	text-decoration:underline;
}
#mainlist{
	list-style:none;
	float:left;
	margin-left:30px;
  line-height:25px;
}
#mainlist a{
	color:rgba(20,20,240,.7);
	font-size:16px;
	text-decoration:none;
   
    padding-right:40px;
}
.container-main{
     margin-left:40px;
}
#mainlist a:hover{
	text-decoration:underline;
}
#logoutli{
  position:float;
	float:right;
margin-right: 5%;

}
#logoutli a{
	 color:black;
text-decoration:none;
}
#logoutli a:hover{
	text-decoration:underline;
}
#topinfo{
		height: 40px;
		background-color:#507299;
}
.error{
	color:rgba(230,0,0,.7);
	text-decoration:line-through;
}
#linkonprofil{
	padding-left:10px;
	text-decoration:none;
	color:rgba(0,0,240,.8);
}
#linkonprofil:hover{
	text-decoration:underline;
}
#online,#offline{
	text-decoration:none;
	padding-left:10px;
}
#online{
	color:rgba(0,240,0,.8);
}
#offline{
	color:rgba(240,0,0,.8);
}
#online:hover,#offline:hover{
	text-decoration:underline;
}
.profile{
    float:right;
}
.name{
    float:right;
}